/* assets/custom.css */

body {
    background-color: #060606; /* Dark gray background */

}

#title {
    font-family: 'Arial', sans-serif; /* Change as needed */
    font-size: 32px; /* Adjust size as needed */
    font-weight: bold;
    color: #f5f5f5; /* Color for the title text */
}

/* Correct selectors for the graph components */
.plot-container {
    background-color: #060606; /* Dark gray background */
}

.plotly .plot .plotly .plot_bg {
    background-color: #060606; /* Dark gray */
}

.plotly text {
    fill: #f5f5f5; /* White text color for readability */
}

.card {
    border: 8px solid #333333; /* Light grey border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
/* Add more specific CSS if needed */
